%super-title,
%title {
  letter-spacing: -.03em;
  font-size: $size-title;
  line-height: $line-title;
  font-weight: bold;
}

%subtitle {
  font-size: $size-subtitle;
  line-height: $line-subtitle;
  font-weight: bold;
}

%heading {
  font-size: $size-heading;
  line-height: $line-heading;
  font-weight: bold;
}

%subheading {
  font-size: $size-subheading;
  line-height: $line-subheading;
  font-weight: bold;
}

%body-big {
  font-size: $size-body-big;
  line-height: $line-body-big;
  font-weight: normal;
}

%body {
  font-size: $size-body;
  line-height: $line-body;
  font-weight: normal;
}

%small {
  font-size: $size-small;
  line-height: $line-small;
  font-weight: normal;
}

%dl {
  p + & {
    margin-top: 2em;
  }
  dt {
    font-weight: bold;
    p {
      font-weight: bold;
    }
  }
  dd {
    margin-top: .5em;
    + dt {
      margin-top: 2em;
    }
  }
}