/*
**  Table of Contents
**
**  1.  Grid
**  2.  Colors
**  3.  Typography
**
*/


/*      Grid
------------------------------------------------- */

$radius: 4px;
$baseline: 6px;
$gutter: $baseline * 3;


/*      Colors
------------------------------------------------- */
$dark: #5b5c5d;
$light: #f2f2f2;
$mid: mix( $dark, $light, 66% );
$white: #fff;

$blue: #52BAD5;
$bluedark: #2C9AB7;



/*      Typography
------------------------------------------------- */

$size-title: 60px;
$line-title: (66/60);

$size-subtitle: 40px;
$line-subtitle: (48/40);

$size-heading: 26px;
$line-heading: (36/26);

$size-subheading: 18px;
$line-subheading: (24/18);

$size-body-big: 18px;
$line-body-big: (24/14.5);

$size-body: 15px;
$line-body: (21/11.3);

$size-small: 12px;
$line-small: (18/9);