@import "_lib/%variables.scss";
@import "_lib/@mixins.scss";

@import "_lib/reset.scss";
@import "_lib/%placeholders.scss";

/*    Base
------------------------------------------------ */

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $dark;
  background: $light;
  font-family: $helvetica;
}

.sizewrap {
  padding: 2em 0;
  @include box-sizing;
  height: 100%;
  overflow-x: hidden;
}

.group {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
}

.col {
  @extend .group;
  padding: 0 24px;
}

.size1of2 { width: percentage(1/2); }


.document {
  @extend .group;
  width: percentage(2/3);
  margin-left: percentage( 1/2 - 2/3 );
  background: $white;
  border: 1px solid $k1;
  @include border-radius( $radius, 0, 0, $radius );
  padding: 0 2%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;

  @include box-shadow( -2px 3px 6px rgba(91, 92, 93, 0.15) );

  position: relative;
  right: percentage( 1/2 - 2/3 );
  @include transition( right, .2s, ease );
  &.is-active {
    right: 0;
  }

  #target {
    max-width: $max-width;
  }
}


/*    Form Style
---------------------------------------------------------- */

hr {
  margin: 1em 0;
  margin: 1vh 0;
}

.form-input {
  background: $light;
  @include appearance( none );
  @include box-sizing;
  font-family: $monospace;
  font-size: $size-body;
  outline: 0;
  padding: 1em;

  height: 3em;
  height: 5vh;
  &.textarea {
    height: 600px;
    height: 78vh;
  }

  width: 100%;
  max-width: $max-width;
  line-height: $baseline * 3;
  border: none;

  @include transition( color, .2s, ease );
  @include placeholder {
    color: $k1;
  }
  color: $k1;
  &:hover {
    color: $mid;
  }
  &:focus {
    color: $dark;
  }
}



/*    Normalize Block
---------------------------------------------------------- */

/*
** Any container that extends %normalize can use
** markdown and classless formatting
**
** h1 = .subtitle
** h2 = .heading
** h3 = .subheading
** h4 = .subheading
** h5 = .body-big + bold
** h6 = .body-big + bold
**
** p = .body
** ul = XX
** ol = XX
** li = XX
** blockquote = XX
** pre > code = XX
**
*/
.normalize {
  > *:first-child {
    margin-top: 0;
  }
  h1,
  .h1 {
    margin: .5em 0;
    @extend %subtitle;
    color: $dark;
  }
  h2,
  .h2 {
    margin: .5em 0;
    @extend %heading;
    color: $dark;
  }
  h3,
  .h3 {
    margin: .5em 0;
    @extend %subheading;
    color: $dark;
  }
  h4,
  .h4 {
    margin: .5em 0;
    @extend %subheading;
    color: $dark;
  }
  h5,
  .h5 {
    margin: 1em 0;
    @extend %body;
    font-weight: bold;
    color: $dark;
  }
  h6,
  .h6 {
    margin: 1em 0;
    @extend %body;
    font-weight: bold;
    color: $mid;
  }

  p,
  figcaption {
    margin: 1em 0;
    @extend %body;
    color: $mid;
    & + h1, & + h2, & + h3, & + h4, & + h5, & + h6,
    & + .h1, & + .h2, & + .h3, & + .h4, & + .h5, & + .h6 {
      margin-top: 2em;
    }
  }
  a {
    color: $blue;
    &:hover {
      color: $bluedark;
      text-decoration: underline;
    }
  }
  ul,
  ol {
    margin: 1em 0 1.5em 0;
    @extend %body;
  }
  dl {
    @extend %dl;
  }
  img {
    max-width: 100%;
  }
  figcaption {
    @extend %body;
  }
  blockquote {
    border-left-width: $baseline;
    border-left-style: solid;
    border-left-color: $mid;
    padding: $baseline $gutter;
    margin: 2em 0;
    p {
      margin: 0;
      @extend %heading;
    }
  }
}