
.col.size1of2>
  %form#form{ action: "/file.md", method: "post" }
    %textarea.form-input#text{ placeholder: "Enter Your Markdown", name: "markdown" }

    %input{ value: "Save", type: "submit", name: "submit" }

.document>
  #target