
.col.size1of2>
  %form#form{ action: "/to_md", method: "post" }
    %input.form-input{ placeholder: "Title", name: "title", type: "text" }
    %hr
    %textarea.form-input.textarea#text{ placeholder: "Enter Your Markdown", name: "markdown" }
    %hr
    %input{ value: "Save Markdown", type: "submit", name: "submit" }

.document>
  #target