
.col.size1of2>
  %h1.h3 Enter Your Markdown

  %form#form{ action: "/file.md", method: "post" }
    %textarea.form-input#text{ name: "markdown" }

    %input{ value: "Save", type: "submit", name: "submit" }

.col.size1of2>
  #target