!!!
%html
  %head
    %title MC Markdown
    %link{ rel: "stylesheet", type: "text/css", href: "/css/site.css" }
  %body.normalize
    .sizewrap
      = yield

    %script{ src: "/scripts/jquery.js" }
    %script{ src: "/scripts/site.js" }